<a href="https://colab.research.google.com/github/lipika-92/Python-Assignment1/blob/main/PythonAss2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
#ASSIGNMENT 2
#q1 - sub part 1
# Sub-part 1

d = {
    "Lipika": 80,
    "Shilky": 78,
    "Ashish": 70,
    "Sudeepta": 98,
    "Manash": 93
}

max_key, max_val = 0, 0
for key, value in d.items():
    if value > max_val:
        max_val = value
        max_key = key

print("Highest Scorer:", (max_key, max_val))

Highest Scorer: ('Sudeepta', 98)

In [3]:
# Sub-part 2

d = {
    "Lipika": 80,
    "Shilky": 78,
    "Ashish": 70,
    "Sudeepta": 98,
    "Manash": 93
}

items = list(d.items())
for i in range(len(items)):
    for j in range(i+1, len(items)):
        if items[i][1] > items[j][1]:
            items[i], items[j] = items[j], items[i]

sorted_scores = dict(items)
print("Scores sorted in ascending order:", sorted_scores)

Scores sorted in ascending order: {'Ashish': 70, 'Shilky': 78, 'Lipika': 80, 'Manash': 93, 'Sudeepta': 98}

In [4]:
# Sub-part 3

d = {
    "Lipika": 80,
    "Shilky": 78,
    "Ashish": 70,
    "Sudeepta": 98,
    "Manash": 93
}

name = input("Enter a name:")
if name in d:
    print(f"{name} is already present with score {d[name]}")
else:
    score = int(input(f"Enter score for {name}: "))
    d[name] = score
    print(f"{name} added successfully")

print("Updated dictionary:", d)

Enter a name:Kshitij
Enter score for Kshitij: 99
Kshitij added successfully
Updated dictionary: {'Lipika': 80, 'Shilky': 78, 'Ashish': 70, 'Sudeepta': 98, 'Manash': 93, 'Kshitij': 99}

In [5]:
# Sub-part 4

d = {
    "Lipika": 80,
    "Shilky": 78,
    "Ashish": 70,
    "Sudeepta": 98,
    "Manash": 93,
    "Kshitij" : 99
}

min_key = None
min_value = float('inf')

for key, value in d.items():
    if value < min_value:
        min_value = value
        min_key = key

if min_key is not None:
    del d[min_key]
    print(f"Removed: '{min_key}' with score {min_value}")

print("Updated dictionary:", d)

Removed: 'Ashish' with score 70
Updated dictionary: {'Lipika': 80, 'Shilky': 78, 'Sudeepta': 98, 'Manash': 93, 'Kshitij': 99}